* {
    font-family:Arial, Helvetica, sans-serif;
    gap: 10px;
    border-radius: 10%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 67px;
    width: 20%;
    min-width: 400px;
    border-radius: 5%;
    background-color: black;
    padding: 12px 24px; 
}

.display {
    display: flex;
    justify-content: flex-end;
    border-radius: 10%;
    background-color: grey;
    font-size: 48px;
    padding: 20px 24px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
}

button {
    width: 20%;
    font-size: 48px;
}

button:hover, #equalto:hover {
    cursor: pointer;
    background-color: yellow;
}

#c {
    background-color: red;
}

.numbers {
    background-color: aqua;
}

.operators, #equalto{
    background-color: lime;
}